.youtuber-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.youtuber-card-container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    align-items: baseline;
    margin-right: 10px;
    margin-left: 10px;
}

.youtuber-card-container-inner {
    display: flex;
    justify-content: flex-start;
    top: 20px;
    left: 20px;
    align-items: center;
}

.youtuber-card-background {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: blur(8px);
}

.youtuber-profile-picture {
    /* position: absolute; */
    /* top: 20px; */
    /* left: 20px; */
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin: 10px;
}

.youtuber-youtube-icon {
    margin: 10px;
    width: 50px;
}

/* For screens smaller than 768px (e.g., smartphones) */
@media (max-width: 420px) {
    .youtuber-card-container-inner {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

}